form {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

fieldset {
    text-align: left;
}

.submit {
    background: #22A522;
    color: white;
    height: 35px;
    width: 18em;
    margin: 3% auto;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(255, 249, 168);
    color: #22A522;
    font-style: oblique;
    box-shadow: 0 10px 20px rgb(128, 161, 149);
}

.submit:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px #22A522;
}